@using Resources

@{
    ViewBag.Title = "ALERT_300";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ALERT_300_Ctrl" id="content" class="ng-cloak">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="widget-box widget-color-blue">
                <div class="widget-header">
                    <h4 class="widget-title">@Resource.filterDocument</h4>

                    <button class="btn btn-xs btn-warning bigger pull-right" style="margin-top: 4px; margin-right: 4px;" ng-click="getRequestByProperty(search)">
                        <i class="ace-icon fa fa-search"></i>
                        @Resource.search
                    </button>

                    <div class="widget-toolbar pull-right">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">

                            <!-- Doc Run No -->
                            <div class="col-sm-3">
                                <label>@Resource.docRunNo</label>
                                <input type="text" maxlength="50" placeholder="@Resource.docRunNo" class="col-xs-12 col-sm-12" ng-model="search.DOCRUNNO" ng-enter="getRequestByProperty(search)" />
                            </div>

                            <!-- Store -->
                            <div class="col-sm-3">
                                <label style="width: 100%">@Resource.store</label>
                                <select id="searchStore"
                                        class="chosen-select form-control"
                                        data-placeholder="@Resource.store"
                                        ng-model="search.STORECODE"
                                        ng-options="store.STORECODE as (store.STORECODE + ' - ' + store.STORENAME_TH) for store in stores">
                                    <option value="">@Resource.all</option>
                                </select>
                            </div>

                            <!-- License Type -->
                            <div class="col-sm-3">
                                <label style="width: 100%">@Resource.licenseType</label>
                                <select id="searchLicenseType"
                                        class="chosen-select form-control"
                                        data-placeholder="@Resource.licenseType"
                                        ng-model="search.LICENSETYPEID"
                                        ng-options="flag.PROPERTYID as flag.PROPERTYDESC_TH for flag in licenseTypes">
                                    <option value="">@Resource.all</option>
                                </select>
                            </div>

                        </div>

                        <hr style="margin-bottom: 0.5em;" />

                        <div class="row">

                            <!-- User Request Id -->
                            <div class="col-sm-3">
                                <label style="width: 100%">@Resource.userRequestId</label>
                                <select id="searchUserRequestId"
                                        class="chosen-select form-control"
                                        data-placeholder="@Resource.userRequestId"
                                        ng-model="search.USERREQUESTID"
                                        ng-options="user.USERID as (user.NAME_TH + ' ' + user.LASTNAME_TH) for user in users">
                                    <option value="">@Resource.all</option>
                                </select>
                            </div>

                            <!-- USERVERIFYID -->
                            <div class="col-sm-3">
                                <label style="width: 100%">@Resource.userVerifyId</label>
                                <select id="searchUserVerifyId"
                                        class="chosen-select form-control"
                                        data-placeholder="@Resource.userVerifyId"
                                        ng-model="search.USERVERIFYID"
                                        ng-options="user.USERID as (user.NAME_TH + ' ' + user.LASTNAME_TH) for user in users">
                                    <option value="">@Resource.all</option>
                                </select>
                            </div>

                        </div>

                        <hr style="margin-bottom: 0.5em;" />

                        <div class="row">

                            <!-- DOC_EFFECTIVEDATE -->
                            <div class="col-sm-3">
                                <label style="width: 100%">@Resource.licenseRenewDate</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    </span>
                                    <input id="effectiveDateRange" class="form-control date-range-picker" readonly="" style="cursor: pointer"  type="text" />
                                </div>
                            </div>

                            <!-- DOC_EXPIREDATE -->
                            <div class="col-sm-3">
                                <label style="width: 100%">@Resource.licenseEndDate</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    </span>
                                    <input id="expireDateRange" class="form-control date-range-picker" readonly="" style="cursor: pointer"  type="text" />
                                </div>
                            </div>

                            <!-- UPDATEDATE -->
                            <div class="col-sm-3">
                                <label style="width: 100%">@Resource.updateDate</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    </span>
                                    <input id="updateDateRange" class="form-control date-range-picker" readonly="" style="cursor: pointer"  type="text" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br />

    <div class="clearfix" style="text-align: right">
        <a href="#modal-confirm" data-toggle="modal" class="btn btn-danger" title="@Resource.turnOffAlert" ng-click="setupConfirmModal('@Resource.confirmTurnOffAlert')" ng-disabled="!isAnyRequestChecked">
            @Resource.turnOffAlert
        </a>
    </div>

    <br />

    <div class="table-header" style="height: 3em;">
        <span class="bigger">
            @Resource.alertList
        </span>

        <button type="button" class="btn btn-sm btn-warning bigger pull-right" style="margin-top: 4px; margin-right: 4px;" ng-click="downloadSelection()">
            <span class="bigger-110">@Resource.download</span>
        </button>

        <button type="button" class="btn btn-sm btn-warning bigger pull-right" style="margin-top: 4px; margin-right: 4px;" ng-click="downloadAll()">
            <span class="bigger-110">@Resource.downloadAll</span>
        </button>
    </div>

    <div>
        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center no-sort" style="width: 20px">
                        <input type="checkbox" id="selectAll" ng-model="selectAll" ng-change="changeSelectAll()" />
                    </th>
                    <th class="center">@Resource.docRunNo</th>
                    <th class="center">@Resource.store</th>
                    <th class="center">@Resource.licenseType</th>
                    <th class="center">@Resource.feeAmount</th>
                    <th class="center">@Resource.licenseRenewDate</th>
                    <th class="center">@Resource.licenseEndDate</th>
                    <th class="center">@Resource.userRequestId</th>
                    <th class="center">@Resource.approveUser</th>
                    <th class="center">@Resource.updateDate</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in requests track by $index">

                    <td class="center">
                        <input type="checkbox" ng-model="row.checked" ng-change="checkboxChange(row)" />
                    </td>

                    <td>
                        <span ng-if="!!row.DOCRUNNO">
                            <i class="glyphicon glyphicon-folder-open" style="margin-right: 0.25em;"></i>
                            <span ng-bind="row.DOCRUNNO"></span>
                        </span>
                    </td>
                    <td ng-bind="row.STORE"></td>
                    <td ng-bind="row.LICENSETYPE"></td>
                    <td class="text-right" ng-bind="toCurrency(row.FEEAMOUNT)"></td>
                    <td class="center"><span style="display:none" ng-bind="row.DOC_EFFECTIVEDATE | date:'yyyy/MM/dd'"></span><span ng-bind="row.BCDOC_EFFECTIVEDATE | date:'dd/MM/yyyy'"></span></td>
                    <td class="center"><span style="display:none" ng-bind="row.DOC_EXPIREDATE | date:'yyyy/MM/dd'"></span><span ng-bind="row.BCDOC_EXPIREDATE | date:'dd/MM/yyyy'"></span></td>
                    <td class="center" ng-bind="row.USERREQUEST"></td>
                    <td class="center" ng-bind="row.USERVERIFY"></td>
                    <td class="center"><span style="display:none" ng-bind="row.LASTUPDATE | date:'yyyy/MM/dd HH:mm'"></span><span ng-bind="row.BCLASTUPDATE | date:'dd/MM/yyyy HH:mm'"></span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- modal dialog -->
    <div id="modal-confirm" class="modal fade" tabindex="-1">
        <div class="modal-dialog" style="width: 60%">
            <div class="modal-content">
                <div class="modal-header no-padding">
                    <div class="table-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <span class="white">&times;</span>
                        </button>

                        <!-- Modal title -->
                        <span>@Resource.confirmTurnOffAlertModalTitle</span>
                    </div>
                </div>

                <div class="modal-body" style="padding: 2em;">

                    <span ng-bind="confirmMessage"></span>

                </div>

                <div class="modal-footer no-margin-top">
                    <button class="btn btn-sm btn-success pull-right" ng-click="disableAlert()">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        @Resource.ok
                    </button>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>