@using Resources

@{
    ViewBag.Title = "ALERT_200";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="ALERT_200_Ctrl" id="content" class="ng-cloak">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="widget-box widget-color-blue">
                <div class="widget-header">
                    <h4 class="widget-title">@Resource.filterDocument</h4>

                    <button class="btn btn-xs btn-warning bigger pull-right" style="margin-top: 4px; margin-right: 4px;" ng-click="getRequestByProperty(search)">
                        <i class="ace-icon fa fa-search"></i>
                        @Resource.search
                    </button>

                    <div class="widget-toolbar pull-right">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">

                            <!-- Doc Run No -->
                            <div class="col-sm-3">
                                <label>@Resource.docRunNo</label>
                                <input type="text" maxlength="50" placeholder="@Resource.docRunNo" class="col-xs-12 col-sm-12" ng-model="search.DOCRUNNO" ng-enter="getRequestByProperty(search)" />
                            </div>

                            <!-- Store -->
                            <div class="col-sm-3">
                                <label style="width: 100%">@Resource.store</label>
                                <select id="searchStore"
                                        class="chosen-select form-control"
                                        data-placeholder="@Resource.store"
                                        ng-model="search.STORECODE"
                                        ng-options="store.STORECODE as (store.STORECODE + ' - ' + store.STORENAME_TH) for store in stores">
                                    <option value="">@Resource.all</option>
                                </select>
                            </div>

                            <!-- Agreement Type -->
                            <div class="col-sm-3">
                                <label style="width: 100%">@Resource.agreementType</label>
                                <select id="searchAgreementType"
                                        class="chosen-select form-control"
                                        data-placeholder="@Resource.agreementType"
                                        ng-model="search.AGREEMENTTYPEID"
                                        ng-options="flag.PROPERTYID as flag.PROPERTYDESC_TH for flag in agreementTypes">
                                    <option value="">@Resource.all</option>
                                </select>
                            </div>

                        </div>

                        <hr style="margin-bottom: 0.5em;" />

                        <div class="row">

                            <!-- Vendor Name -->
                            <div class="col-sm-3">
                                <label>@Resource.vendorName</label>
                                <input type="text" maxlength="50" placeholder="@Resource.vendorName" class="col-xs-12 col-sm-12" ng-model="search.VENDORNAME" ng-enter="getRequestByProperty(search)" />
                            </div>

                            <!-- StartDate - EndDate -->
                            <div class="col-sm-3" style="display:none">
                                <label style="width: 100%">@Resource.startEndDate</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    </span>
                                    <input id="startEndDateRange" class="form-control date-range-picker" readonly="" style="cursor: pointer"  type="text" />
                                </div>
                            </div>

                            <!-- Notice Date -->
                            <div class="col-sm-3">
                                <label style="width: 100%">@Resource.noticeDate</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    </span>
                                    <input id="noticeDateRange" class="form-control date-range-picker" readonly="" style="cursor: pointer"  type="text" />
                                </div>
                            </div>

                            <!-- Condition Expire Date -->
                            <div class="col-sm-3">
                                <label style="width: 100%">@Resource.conditionExpireDate</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    </span>
                                    <input id="conditionExpireDateRange" class="form-control date-range-picker" readonly="" style="cursor: pointer"  type="text" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br />

    <div class="clearfix" style="text-align: right">
        <a href="#modal-confirm" data-toggle="modal" class="btn btn-danger" title="@Resource.turnOffAlert" ng-click="setupConfirmModal('@Resource.confirmTurnOffAlert')" ng-disabled="!isAnyRequestChecked">
            @Resource.turnOffAlert
        </a>
    </div>

    <br />

    <div class="table-header" style="height: 3em;">
        <span class="bigger">
            @Resource.alertList
        </span>

        <button type="button" class="btn btn-sm btn-warning bigger pull-right" style="margin-top: 4px; margin-right: 4px;" ng-click="downloadSelection()">
            <span class="bigger-110">@Resource.download</span>
        </button>

        <button type="button" class="btn btn-sm btn-warning bigger pull-right" style="margin-top: 4px; margin-right: 4px;" ng-click="downloadAll()">
            <span class="bigger-110">@Resource.downloadAll</span>
        </button>
    </div>

    <div>
        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center no-sort" style="width: 20px">
                        <input type="checkbox" id="selectAll" ng-model="selectAll" ng-change="changeSelectAll()" />
                    </th>
                    <th class="center">@Resource.docRunNo</th>
                    <th class="center">@Resource.store</th>
                    <th class="center">@Resource.agreementType</th>
                    <th class="center">@Resource.vendorName</th>
                    <th class="center">@Resource.startEndDate</th>
                    <th class="center">@Resource.noticeDate</th>
                    <th class="center">@Resource.conditionExpireDate</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in requests track by $index">

                    <td class="center">
                        <input type="checkbox" ng-model="row.checked" ng-change="checkboxChange(row)" />
                    </td>

                    <td>
                        <span ng-if="!!row.DOCRUNNO">
                            <i class="glyphicon glyphicon-folder-open" style="margin-right: 0.25em;"></i>
                            <span ng-bind="row.DOCRUNNO"></span>
                        </span>
                    </td>
                    <td ng-bind="row.STORE"></td>
                    <td ng-bind="row.AGREEMENTTYPE"></td>
                    <td ng-bind="row.VENDORNAMES"></td>
                    <td class="center"><span style="display:none" ng-bind="row.START_END_DATE | date:'yyyy/MM/dd'"></span><span ng-bind="row.BC_START_END_DATE_STR | date:'dd/MM/yyyy'"></span></td>
                    <td class="center"><span style="display:none" ng-bind="row.NOTICEDATE | date:'yyyy/MM/dd'"></span><span ng-bind="row.BC_NOTICEDATE_STR | date:'dd/MM/yyyy'"></span></td>
                    <td class="center"><span style="display:none" ng-bind="row.PAYMENTDATE | date:'yyyy/MM/dd'"></span><span ng-bind="row.BC_PAYMENTDATE_STR | date:'dd/MM/yyyy'"></span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- modal dialog -->
    <div id="modal-confirm" class="modal fade" tabindex="-1">
        <div class="modal-dialog" style="width: 60%;">
            <div class="modal-content">
                <div class="modal-header no-padding">
                    <div class="table-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <span class="white">&times;</span>
                        </button>

                        <!-- Modal title -->
                        <span>@Resource.confirmTurnOffAlertModalTitle</span>
                    </div>
                </div>

                <div class="modal-body">
                    <form class="form-horizontal" role="form">

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="form-input-readonly" ng-bind="confirmMessage">
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="paidDate">
                                @Resource.specifyPaidDate
                            </label>

                            <div class="input-group col-xs-10 col-sm-5">
                                <input class="form-control date-picker" id="paidDate" ng-model="paidDate" type="text" data-date-format="dd/mm/yyyy" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer no-margin-top">
                    <button class="btn btn-sm btn-success pull-right" ng-click="disableAlert()">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        @Resource.ok
                    </button>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>