@using Resources

@{
    ViewBag.Title = "REQ_1000";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="REQ_1200_Ctrl" id="content" class="ng-cloak">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="widget-box widget-color-blue">
                <div class="widget-header">
                    <h4 class="widget-title">@Resource.filterDocument</h4>

                    <button class="btn btn-xs btn-warning bigger pull-right" style="margin-top: 4px; margin-right: 4px;" ng-click="getRequestByProperty(search)">
                        <i class="ace-icon fa fa-search"></i>
                        @Resource.search
                    </button>

                    <div class="widget-toolbar pull-right">
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">

                            <!-- Space Rental Doc No -->
                            <div class="col-sm-3">
                                <label>@Resource.spaceRentalDocNo</label>
                                <input type="text" maxlength="50" placeholder="@Resource.spaceRentalDocNo" class="col-xs-12 col-sm-12" ng-model="search.SPACERENTAL_DOCNO" ng-enter="getRequestByProperty(search)" />
                            </div>

                            <!-- Store -->
                            <div class="col-sm-3">
                                <label style="width: 100%">@Resource.store</label>
                                <select id="searchStore"
                                        class="chosen-select form-control"
                                        data-placeholder="@Resource.store"
                                        ng-model="search.STORECODE"
                                        ng-options="store.STORECODE as (store.STORECODE + ' - ' + store.STORENAME_TH) for store in stores">
                                    <option value="">@Resource.all</option>
                                </select>
                            </div>

                            <!-- Space Rent Type -->
                            <div class="col-sm-3">
                                <label style="width: 100%">@Resource.spaceRentalType</label>
                                <select id="searchSpaceRentalType"
                                        class="chosen-select form-control"
                                        data-placeholder="@Resource.spaceRentalType"
                                        ng-model="search.SPACERENTALTYPEID"
                                        ng-options="flag.PROPERTYID as flag.PROPERTYDESC_TH for flag in spaceRentalTypes">
                                    <option value="">@Resource.all</option>
                                </select>
                            </div>

                            <!-- Lessee Vendor Name -->
                            <div class="col-sm-3">
                                <label>@Resource.lesseeVendorName</label>
                                <input type="text" maxlength="50" placeholder="@Resource.lesseeVendorName" class="col-xs-12 col-sm-12" ng-model="search.VENDORNAME" ng-enter="getRequestByProperty(search)" />
                            </div>

                        </div>

                        <hr style="margin-bottom: 0.5em;" />

                        <div class="row">

                            <!-- Request Status Id -->
                            @*<div class="col-sm-3">
                                    <label style="width: 100%">@Resource.status</label>
                                    <select id="searchRequestStatus"
                                            class="chosen-select form-control"
                                            data-placeholder="@Resource.status"
                                            ng-model="search.REQUESTSTATUS"
                                            ng-options="status.STATUSID as status.STATUSNAME_TH for status in requestStatuses | filter:{ STATUSNAME_EN : '!Draft' }">
                                        <option value="">@Resource.all</option>
                                    </select>
                                </div>*@

                            <!-- User Request Id -->
                            <div class="col-sm-3">
                                <label style="width: 100%">@Resource.userRequestId</label>
                                <select id="searchUserRequestId"
                                        class="chosen-select form-control"
                                        data-placeholder="@Resource.userRequestId"
                                        ng-model="search.USERREQUESTID"
                                        ng-options="user.USERID as (user.NAME_TH + ' ' + user.LASTNAME_TH) for user in users">
                                    <option value="">@Resource.all</option>
                                </select>
                            </div>

                            <!-- DOC_EFFECTIVEDATE -->
                            <div class="col-sm-3">
                                <label style="width: 100%">@Resource.docEffectiveDate</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    </span>
                                    <input id="effectiveDateRange" class="form-control date-range-picker" readonly="" style="cursor: pointer"  type="text" />
                                </div>
                            </div>

                            <!-- DOC_EXPIREDATE -->
                            <div class="col-sm-3">
                                <label style="width: 100%">@Resource.docExpireDate</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    </span>
                                    <input id="expireDateRange" class="form-control date-range-picker" readonly="" style="cursor: pointer"  type="text" />
                                </div>
                            </div>

                            <!-- UPDATEDATE -->
                            <div class="col-sm-3">
                                <label style="width: 100%">@Resource.updateDate</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                    </span>
                                    <input id="updateDateRange" class="form-control date-range-picker" readonly="" style="cursor: pointer"  type="text" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br />
    <br />

    <div class="table-header">
        @Resource.resultDoc
    </div>

    <div>
        <table id="dynamic-table" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center">@Resource.spaceRentalDocNo</th>
                    <th class="center">@Resource.store</th>
                    <th class="center">@Resource.spaceRentalType</th>
                    <th class="center">@Resource.lesseeVendorName</th>
                    <th class="center">@Resource.docEffectiveDate</th>
                    <th class="center">@Resource.docExpireDate</th>
                    <th class="center">@Resource.userRequestId</th>
                    <th class="center">@Resource.updateDate</th>
                    <th style="width: 70px"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in requests track by $index">
                    <td ng-bind="row.SPACERENTAL_DOCNO"></td>
                    <td ng-bind="row.STORE"></td>
                    <td ng-bind="row.SPACERENTALTYPE"></td>
                    <td ng-bind="row.VENDORNAMES"></td>
                    <td class="center"><span style="display:none" ng-bind="row.DOC_EFFECTIVEDATE | date:'yyyy/MM/dd'"></span><span ng-bind="row.BCDOC_EFFECTIVEDATE | date:'dd/MM/yyyy'"></span></td>
                    <td class="center"><span style="display:none" ng-bind="row.DOC_EXPIREDATE | date:'yyyy/MM/dd'"></span><span ng-bind="row.BCDOC_EXPIREDATE | date:'dd/MM/yyyy'"></span></td>
                    <td class="center" ng-bind="row.USERREQUEST"></td>
                    <td class="center"><span style="display:none" ng-bind="row.LASTUPDATE | date:'yyyy/MM/dd HH:mm'"></span><span ng-bind="row.BCLASTUPDATE | date:'dd/MM/yyyy HH:mm'"></span></td>
                    <td class="center">
                        <div>
                            <a href="#" ng-click="viewDetail(row)">
                                <span class="blue">
                                    <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                </span>
                            </a>
                            &nbsp;
                            <a href="#" ng-click="confirmDeleteDraft(row)">
                                <span class="red">
                                    <i class="ace-icon fa fa-trash bigger-120"></i>
                                </span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

